body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.47843137254902);
  background-image:none;
  position:relative;
  left:-0px;
  width:1208px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3252 {
  position:absolute;
  left:0px;
  top:136px;
}
#u3252_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3252_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:400px;
}
#u3253 {
  position:absolute;
  left:16px;
  top:0px;
  width:1136px;
  height:400px;
}
#u3254 {
  position:absolute;
  left:2px;
  top:192px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3252_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3252_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:400px;
}
#u3255 {
  position:absolute;
  left:16px;
  top:0px;
  width:1136px;
  height:400px;
}
#u3256 {
  position:absolute;
  left:2px;
  top:192px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3258 {
  position:absolute;
  left:1104px;
  top:306px;
  width:48px;
  height:60px;
  opacity:0.21;
}
#u3259 {
  position:absolute;
  left:2px;
  top:22px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u3260 {
  position:absolute;
  left:1120px;
  top:322px;
  width:17px;
  height:29px;
}
#u3261 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3263 {
  position:absolute;
  left:16px;
  top:307px;
  width:48px;
  height:60px;
  opacity:0.21;
}
#u3264 {
  position:absolute;
  left:2px;
  top:22px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u3265 {
  position:absolute;
  left:32px;
  top:323px;
  width:17px;
  height:29px;
}
#u3266 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3269 {
  position:absolute;
  left:32px;
  top:1004px;
}
#u3269_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3269_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
  font-size:21px;
}
#u3270 {
  position:absolute;
  left:-5px;
  top:0px;
  width:157px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
  font-size:21px;
}
#u3271 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
  font-size:21px;
}
#u3272 {
  position:absolute;
  left:362px;
  top:1004px;
  width:167px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
  font-size:21px;
}
#u3273 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u3274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
  font-size:21px;
}
#u3274 {
  position:absolute;
  left:685px;
  top:1004px;
  width:96px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
  font-size:21px;
}
#u3275 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u3276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
  font-size:21px;
}
#u3276 {
  position:absolute;
  left:980px;
  top:1004px;
  width:194px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
  font-size:21px;
}
#u3277 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u3278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3279 {
  position:absolute;
  left:30px;
  top:1048px;
  width:119px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3280 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u3281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3281 {
  position:absolute;
  left:29px;
  top:1089px;
  width:126px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3282 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u3283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3283 {
  position:absolute;
  left:30px;
  top:1130px;
  width:74px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3284 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u3285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3285 {
  position:absolute;
  left:27px;
  top:1170px;
  width:148px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3286 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u3287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3287 {
  position:absolute;
  left:30px;
  top:1211px;
  width:129px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3288 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3289 {
  position:absolute;
  left:28px;
  top:1252px;
  width:152px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3290 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u3291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3292 {
  position:absolute;
  left:366px;
  top:1048px;
  width:119px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3293 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u3294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3294 {
  position:absolute;
  left:365px;
  top:1089px;
  width:126px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3295 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u3296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3296 {
  position:absolute;
  left:366px;
  top:1130px;
  width:74px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3297 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u3298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3298 {
  position:absolute;
  left:363px;
  top:1170px;
  width:148px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3299 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u3300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3300 {
  position:absolute;
  left:366px;
  top:1211px;
  width:129px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3301 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3302 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3303 {
  position:absolute;
  left:990px;
  top:1048px;
  width:119px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3304 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u3305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3305 {
  position:absolute;
  left:989px;
  top:1089px;
  width:126px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3306 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u3307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3307 {
  position:absolute;
  left:990px;
  top:1130px;
  width:74px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3308 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u3309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3309 {
  position:absolute;
  left:987px;
  top:1170px;
  width:148px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3310 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u3311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3311 {
  position:absolute;
  left:990px;
  top:1211px;
  width:129px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3312 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3313 {
  position:absolute;
  left:988px;
  top:1252px;
  width:152px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3314 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u3315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3316 {
  position:absolute;
  left:686px;
  top:1048px;
  width:119px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3317 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u3318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3318 {
  position:absolute;
  left:685px;
  top:1089px;
  width:126px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3319 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u3320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3320 {
  position:absolute;
  left:686px;
  top:1130px;
  width:74px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3321 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u3322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3322 {
  position:absolute;
  left:683px;
  top:1170px;
  width:148px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3323 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u3324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3324 {
  position:absolute;
  left:686px;
  top:1211px;
  width:129px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3325 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3326 {
  position:absolute;
  left:684px;
  top:1252px;
  width:152px;
  height:18px;
  font-family:'Museo Sans Cyrl 300';
  font-weight:304;
  font-style:normal;
}
#u3327 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u3328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3328 {
  position:absolute;
  left:367px;
  top:1252px;
  width:137px;
  height:17px;
}
#u3329 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u3330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3330 {
  position:absolute;
  left:35px;
  top:1297px;
  width:132px;
  height:17px;
}
#u3331 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u3332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3332 {
  position:absolute;
  left:687px;
  top:1297px;
  width:92px;
  height:17px;
}
#u3333 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3334 {
  position:absolute;
  left:992px;
  top:1297px;
  width:164px;
  height:17px;
}
#u3335 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u3336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:1px;
  background:inherit;
  background-color:rgba(249, 210, 57, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3336 {
  position:absolute;
  left:32px;
  top:1037px;
  width:1136px;
  height:1px;
}
#u3337 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:365px;
  background:inherit;
  background-color:rgba(91, 91, 91, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3338 {
  position:absolute;
  left:16px;
  top:972px;
  width:1168px;
  height:365px;
}
#u3339 {
  position:absolute;
  left:2px;
  top:174px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(31, 151, 235, 1) 0%, rgba(31, 151, 235, 1) 0%, rgba(17, 119, 187, 1) 100%, rgba(17, 119, 187, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(31, 151, 235, 1) 0%, rgba(31, 151, 235, 1) 0%, rgba(17, 119, 187, 1) 100%, rgba(17, 119, 187, 1) 100%);
  background:linear-gradient(180deg, rgba(31, 151, 235, 1) 0%, rgba(31, 151, 235, 1) 0%, rgba(17, 119, 187, 1) 100%, rgba(17, 119, 187, 1) 100%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 2px 1px rgba(13, 90, 142, 1);
  -webkit-box-shadow:0px 2px 1px rgba(13, 90, 142, 1);
  box-shadow:0px 2px 1px rgba(13, 90, 142, 1);
}
#u3341 {
  position:absolute;
  left:942px;
  top:561px;
  width:210px;
  height:53px;
}
#u3341_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:53px;
  background:inherit;
  background-color:rgba(223, 180, 6, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 2px 1px rgba(13, 90, 142, 1);
  -webkit-box-shadow:0px 2px 1px rgba(13, 90, 142, 1);
  box-shadow:0px 2px 1px rgba(13, 90, 142, 1);
}
#u3341.mouseOver {
}
#u3342 {
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u3343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3344 {
  position:absolute;
  left:72px;
  top:2096px;
  width:363px;
  height:33px;
}
#u3345 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u3346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3346 {
  position:absolute;
  left:72px;
  top:2144px;
  width:80px;
  height:80px;
}
#u3347 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3348 {
  position:absolute;
  left:72px;
  top:2223px;
  width:80px;
  height:80px;
  opacity:0.3;
}
#u3349 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3350 {
  position:absolute;
  left:72px;
  top:2301px;
  width:80px;
  height:80px;
  opacity:0.3;
}
#u3351 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3352 {
  position:absolute;
  left:72px;
  top:2380px;
  width:80px;
  height:80px;
  opacity:0.3;
}
#u3353 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3354 {
  position:absolute;
  left:152px;
  top:2144px;
  width:1056px;
  height:377px;
}
#u3355 {
  position:absolute;
  left:2px;
  top:180px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u3356 {
  position:absolute;
  left:88px;
  top:2160px;
  width:49px;
  height:49px;
}
#u3357 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:49px;
}
#u3358 {
  position:absolute;
  left:93px;
  top:2239px;
  width:39px;
  height:49px;
}
#u3359 {
  position:absolute;
  left:2px;
  top:16px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u3360 {
  position:absolute;
  left:88px;
  top:2318px;
  width:49px;
  height:49px;
}
#u3361 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:49px;
}
#u3362 {
  position:absolute;
  left:93px;
  top:2397px;
  width:39px;
  height:49px;
}
#u3363 {
  position:absolute;
  left:2px;
  top:16px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 500';
  font-weight:400;
  font-style:normal;
}
#u3365 {
  position:absolute;
  left:294px;
  top:2198px;
  width:197px;
  height:25px;
  font-family:'Museo Sans Cyrl 500';
  font-weight:400;
  font-style:normal;
}
#u3366 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u3367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:80px;
}
#u3367 {
  position:absolute;
  left:186px;
  top:2170px;
  width:108px;
  height:80px;
}
#u3368 {
  position:absolute;
  left:2px;
  top:32px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3369 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3370 {
  position:absolute;
  left:178px;
  top:2273px;
  width:135px;
  height:18px;
}
#u3371 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3372 {
  position:absolute;
  left:398px;
  top:2273px;
  width:135px;
  height:18px;
}
#u3373 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3374 {
  position:absolute;
  left:614px;
  top:2273px;
  width:135px;
  height:18px;
}
#u3375 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3376 {
  position:absolute;
  left:834px;
  top:2273px;
  width:135px;
  height:18px;
}
#u3377 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3378 {
  position:absolute;
  left:1054px;
  top:2273px;
  width:135px;
  height:18px;
}
#u3379 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Museo Sans Cyrl 500';
  font-weight:400;
  font-style:normal;
}
#u3381 {
  position:absolute;
  left:288px;
  top:2375px;
  width:236px;
  height:25px;
  font-family:'Museo Sans Cyrl 500';
  font-weight:400;
  font-style:normal;
}
#u3382 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u3383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3384 {
  position:absolute;
  left:178px;
  top:2450px;
  width:135px;
  height:18px;
}
#u3385 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3386 {
  position:absolute;
  left:398px;
  top:2450px;
  width:135px;
  height:18px;
}
#u3387 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3388 {
  position:absolute;
  left:614px;
  top:2450px;
  width:135px;
  height:18px;
}
#u3389 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3390 {
  position:absolute;
  left:834px;
  top:2450px;
  width:135px;
  height:18px;
}
#u3391 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3392 {
  position:absolute;
  left:1054px;
  top:2450px;
  width:135px;
  height:18px;
}
#u3393 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
}
#u3394 {
  position:absolute;
  left:186px;
  top:2375px;
  width:78px;
  height:38px;
}
#u3395 {
  position:absolute;
  left:2px;
  top:11px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:2px;
}
#u3396 {
  position:absolute;
  left:72px;
  top:2576px;
  width:1136px;
  height:1px;
}
#u3397 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u3398 {
  position:absolute;
  left:168px;
  top:2318px;
  width:1024px;
  height:1px;
}
#u3399 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
