:root {
  --index-height: 2785px;

  --cat-height: 1718px;

  --page-height: 1778px;
}

body {margin:0; padding:0;}

.page {
  text-align:center;
  width: 100%;
}
img {
  visibility: hidden;
}

.index-page {
  background:url(../img/home1.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--index-height);*/
}

.index-page2 {
  background:url(../img/home2.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--index-height);*/
}

.index-page3 {
  background:url(../img/home3.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--cat-height);*/
}

.index-page4 {
  background:url(../img/home4.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--page-height);*/
}

.index-page5 {
  background:url(../img/home5.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--page-height);*/
}

.index-page6 {
  background:url(../img/home6.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--page-height);*/
}

.index-page7 {
  background:url(../img/home7.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--cat-height);*/
}

.index-page8 {
  background:url(../img/home8.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--page-height);*/
}

.index-page9 {
  background:url(../img/home9.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--page-height);*/
}

.index-page10 {
  background:url(../img/home10.jpg) no-repeat top center;
  height: 4853px;
  /*height: var(--page-height);*/
}